Repository Wall-Brew-Co/brew-bot-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md

Update .editorconfig
  .editorconfig
Labels: none

Update docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: restricted

Clean up files to match Wall Brew spec/design
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/data_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  resources/public/404.html
  resources/public/error.html
  resources/templates/panel.html
Labels: dotfiles

Attach recipe builder to a template page
  resources/public/recipe_builder.html
  src/clj/brew_bot_ui/http/html.clj
  src/clj/brew_bot_ui/http/server.clj
Labels: none

Break up SPA into discrete JS packages
  env/local/cljs/brew_bot_ui/app.cljs
  project.clj
  resources/public/index.html
  resources/public/recipe_builder.html
  src/clj/brew_bot_ui/db/queries.clj
  src/clj/brew_bot_ui/http/server.clj
  src/cljs/brew_bot_ui/db.cljs
  src/cljs/brew_bot_ui/layout.cljs
  src/cljs/brew_bot_ui/recipe_builder/db.cljs
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/recipe_builder/main.cljs
  src/cljs/brew_bot_ui/recipe_builder/subs.cljs
  src/cljs/brew_bot_ui/recipe_generation/events.cljs
  src/cljs/brew_bot_ui/recipe_generation/subs.cljs
  src/cljs/brew_bot_ui/recipe_generation/views.cljs
  src/cljs/brew_bot_ui/recipes/subs.cljs
  src/cljs/brew_bot_ui/recipes/views.cljs
  src/cljs/brew_bot_ui/routes.cljs
  src/cljs/brew_bot_ui/shared/config.cljs
  src/cljs/brew_bot_ui/shared/debug.cljs
  src/cljs/brew_bot_ui/shared/events.cljs
  src/cljs/brew_bot_ui/shared/request.cljs
  src/cljs/brew_bot_ui/text_pages/about_me.cljs
  src/cljs/brew_bot_ui/text_pages/contributors.cljs
  src/cljs/brew_bot_ui/text_pages/home_page.cljs
  src/cljs/brew_bot_ui/text_pages/not_found.cljs
  src/cljs/brew_bot_ui/text_pages/random_generators.cljs
  src/cljs/brew_bot_ui/text_pages/static_content.cljs
  src/cljs/brew_bot_ui/text_pages/weighted_generators.cljs
  src/cljs/brew_bot_ui/visual_identity/colors.cljs
  src/cljs/brew_bot_ui/visual_identity/components.cljs
Labels: none

Add tailwind basics
  Makefile
  package-lock.json
  package.json
  postcss.config.js
  project.clj
  resources/public/404.html
  resources/public/css/style.css
  resources/public/error.html
  resources/public/index.html
  resources/public/recipe_builder.html
  src/clj/brew_bot_ui/http/html.clj
  src/cljs/brew_bot_ui/shared/components/colors.cljs
  src/cljs/brew_bot_ui/shared/components/icons.cljs
  src/cljs/brew_bot_ui/shared/components/util.cljs
  src/css/common.css
  src/css/inputs.css
  src/css/style.css
  tailwind.config.js
Labels: none

Add CODEOWNERS
  CODEOWNERS
Labels: none

Add basic unit tests
  test/cljc/brew_bot_ui/common_specs_test.cljc
  test/cljs/brew_bot_ui/runner.cljs
  test/cljs/brew_bot_ui/shared/components/util_test.cljs
Labels: none

Update LICENSE
  LICENSE
Labels: restricted

Force minification of CSS on version bump
  Makefile
Labels: none

Move logging to com.wallbrew/wb-metrics
  project.clj
  src/clj/brew_bot_ui/http/middleware.clj
  src/clj/brew_bot_ui/logging.clj
  src/clj/brew_bot_ui/main.clj
Labels: none

Bump npm dependencies
  package-lock.json
  package.json
Labels: none

Fix client side session IDs
  src/clj/brew_bot_ui/db/queries.clj
  src/clj/brew_bot_ui/http/v1/recipes.clj
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/shared/events.cljs
  src/cljs/brew_bot_ui/shared/request.cljs
Labels: none

Clean up logged data
  src/clj/brew_bot_ui/logging.clj
Labels: none

Opt in to new tailwind changes
  tailwind.config.js
Labels: none

Rough in recipe UI foundation
  resources/public/css/style.css
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
Labels: none

Add basic card element to hold each ingredient type, basic layout/classes for recipe builder
  resources/public/css/style.css
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
Labels: none

Upgrade and lint terraform
  deploy/terraform/main.tf
  deploy/terraform/versions.tf
Labels: none

WIP
  resources/public/css/style.css
  resources/public/recipe_builder.html
  src/cljs/brew_bot_ui/recipe_builder/db.cljs
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/recipe_builder/subs.cljs
  src/cljs/brew_bot_ui/shared/components/inputs.cljs
  src/cljs/brew_bot_ui/shared/config.cljs
  src/cljs/brew_bot_ui/shared/events.cljs
Labels: none

Update Copyright Date :)
  README.md
Labels: none

Add dependency checker
  .github/workflows/dependencies.yml
Labels: dotfiles

Bump com.fzakaria/slf4j-timbre from 0.3.17 to 0.3.20
  project.clj
Labels: none

Bump seancorfield/next.jdbc from 1.0.13 to 1.1.613
  project.clj
Labels: none

Bump ring/ring-core from 1.8.0 to 1.8.2
  project.clj
Labels: none

Bump org.clojure/clojurescript from 1.10.597 to 1.10.773
  project.clj
Labels: none

Bump day8.re-frame/http-fx from 0.1.6 to 0.2.2
  project.clj
Labels: none

Bump day8.re-frame/tracing-stubs from 0.5.3 to 0.6.0
  project.clj
Labels: none

Bump org.postgresql/postgresql from 42.1.1 to 42.2.18
  project.clj
Labels: none

Bump ring/ring-devel from 1.8.1 to 1.8.2
  project.clj
Labels: none

Bump org.clojure/tools.cli from 0.4.2 to 1.0.194
  project.clj
Labels: none

Bump ring/ring-jetty-adapter from 1.8.0 to 1.8.2
  project.clj
Labels: none

Bump com.jakemccrary/lein-test-refresh from 0.19.0 to 0.24.1
  project.clj
Labels: none

Bump com.bhauman/figwheel-main from 0.2.11 to 0.2.12
  project.clj
Labels: none

Bump cider/piggieback from 0.4.2 to 0.5.2
  project.clj
Labels: none

Bump com.wallbrew/common-beer-format from 1.3.0 to 1.3.1
  project.clj
Labels: none

Bump cljsjs/react from 16.11.0-0 to 17.0.1-0
  project.clj
Labels: none

Bump circleci/rollcage from 1.0.203 to 1.0.218
  project.clj
Labels: none

Bump com.zaxxer/HikariCP from 3.3.1 to 4.0.1
  project.clj
Labels: none

Check dependencies on a timer
  .github/workflows/dependencies.yml
Labels: dotfiles

Clean up backend hot reloading
  dev.cljs.edn
  project.clj
  selenium.cljs.edn
  src/clj/brew_bot_ui/config.clj
  src/clj/brew_bot_ui/dev.clj
  src/clj/brew_bot_ui/http/middleware.clj
  src/clj/brew_bot_ui/main.clj
  src/clj/brew_bot_ui/repl/figwheel.clj
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/shared/config.cljs
Labels: none
