Repository Wall-Brew-Co/brew-bot-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, restricted

Constrain updating x-request-id to actions
  src/cljs/brew_bot_ui/shared/events.cljs
  src/cljs/brew_bot_ui/shared/request.cljs
Labels: none

Add select dropdown
  src/cljs/brew_bot_ui/recipe_builder/db.cljs
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/shared/components/inputs.cljs
  src/cljs/brew_bot_ui/shared/components/util.cljs
  test/cljs/brew_bot_ui/shared/components/util_test.cljs
Labels: none

Update karma dependency
  package-lock.json
Labels: none

Add reloader dep
  project.clj
Labels: none

Update deps
  project.clj
Labels: none

Stub in basic recipe facts
  resources/public/css/style.css
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/shared/components/buttons.cljs
  src/cljs/brew_bot_ui/shared/components/inputs.cljs
  src/css/buttons.css
  src/css/style.css
Labels: none

Remove batch flag
  .github/workflows/dependencies.yml
Labels: dotfiles

Fix Copyright year
  LICENSE
Labels: restricted

Convenience functions for working with ingredients
  project.clj
  src/cljs/brew_bot_ui/recipe_builder/db.cljs
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/subs.cljs
  src/cljs/brew_bot_ui/shared/ingredient_utils.cljs
  test/cljs/brew_bot_ui/runner.cljs
  test/cljs/brew_bot_ui/shared/ingredient_utils_test.cljs
Labels: none

Clean up ingredient access
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/shared/ingredient_utils.cljs
  test/cljs/brew_bot_ui/shared/ingredient_utils_test.cljs
Labels: none

Overhaul ingredient selection/search
  Makefile
  package-lock.json
  resources/public/css/style.css
  src/cljc/brew_bot_ui/utils/ingredients.cljc
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/recipe_builder/subs.cljs
  test/clj/brew_bot_ui/http/v1/recipes_test.clj
  test/cljc/brew_bot_ui/utils/ingredients_test.cljc
  test/cljs/brew_bot_ui/recipe_builder/events_test.cljs
  test/cljs/brew_bot_ui/runner.cljs
  test/cljs/brew_bot_ui/shared/ingredient_utils_test.cljs
Labels: none

Add fermentables to recipe
  src/cljc/brew_bot_ui/utils/fermentables.cljc
  src/cljs/brew_bot_ui/recipe_builder/db.cljs
  src/cljs/brew_bot_ui/recipe_builder/events.cljs
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  test/cljc/brew_bot_ui/utils/fermentables_test.cljc
  test/cljs/brew_bot_ui/recipe_builder/events_test.cljs
  test/cljs/brew_bot_ui/runner.cljs
Labels: none

Fix NPM deps
  package-lock.json
Labels: none

Post merge cleanup
  package-lock.json
Labels: none

Update dependencies
  project.clj
  src/cljs/brew_bot_ui/recipe_builder/main.cljs
Labels: none

Update npm deps
  package-lock.json
  package.json
Labels: none

Update npm deps
  package-lock.json
  package.json
Labels: none

Update GitHub Action dependencies
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/pull_request.yml
  .github/workflows/scheduled.yml
Labels: dotfiles

Update Maven group id
  project.clj
Labels: none

Update all npm deps
  package-lock.json
  package.json
  postcss.config.js
  resources/public/css/style.css
  src/cljs/brew_bot_ui/shared/components/buttons.cljs
  src/cljs/brew_bot_ui/shared/components/inputs.cljs
  src/css/inputs.css
Labels: none

Rebuild package lock
  package-lock.json
Labels: none

Update build targets and aliases
  .github/workflows/clojure.yml
  .github/workflows/greetings.yml
  .github/workflows/pull_request.yml
  Makefile
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/shared/components/icons.cljs
Labels: dotfiles

Update documentation
  README.md
  bin/verchg
  documentation/development/deployment.md
  documentation/development/local.md
  documentation/development/tests.md
  documentation/development/user-interface.md
  documentation/templates/changelog_entry.txt
  project.clj
Labels: none

Add workflow dispatch trigger
  .github/workflows/clojure.yml
Labels: dotfiles

Lint terraform
  Makefile
  deploy/terraform/variables.tf
Labels: none

Add clojure formatter
  Makefile
  project.clj
  src/clj/brew_bot_ui/db/queries.clj
  src/clj/brew_bot_ui/dev.clj
  src/cljs/brew_bot_ui/recipe_builder/layout.cljs
  src/cljs/brew_bot_ui/shared/components/buttons.cljs
  src/cljs/brew_bot_ui/shared/config.cljs
Labels: none

Set up auto-formatter
  .github/workflows/pull_request.yml
Labels: dotfiles

Cache dependencies between runs
  .github/workflows/clojure.yml
  .github/workflows/pull_request.yml
Labels: dotfiles

Update deployment documentation
  README.md
  documentation/development/deployment.md
  project.clj
Labels: none

Remove println
  src/cljs/brew_bot_ui/shared/config.cljs
Labels: none

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
